<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link type="text/css" rel="stylesheet" href="css/materia/bootstrap.min.css" th:href="@{css/materia/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{css/style.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.4.1/dist/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>

<div layout:fragment="content">

</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>