<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/main_layout}"
>
<head>

</head>
<body>
<div layout:fragment="content" class="container mySpace">
    <div class="jumbotron">
        <p>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut eum illum ipsa labore minima minus
            molestiae necessitatibus nisi numquam officia omnis perferendis quam rerum tempora totam ullam, voluptate
            voluptatem!
        </div>
        <div>Consequuntur culpa deserunt dolores, ducimus facere fuga, id, maxime nemo odit quibusdam quo reiciendis
            sunt voluptate voluptatem voluptatibus. Aspernatur cumque explicabo laudantium nihil quia, sequi tempora
            tempore! Animi, libero nemo?
        </div>
        </p>
    </div>

</div>
</body>
</html>